<div class="container-fluid background-not-found" #container>
  <div class="row h-100">
  <div class="col-sm-8 m-auto">
    <div class="row">
      <div class="col-sm-6 m-auto text-center">
        <img class="not-found-image animate__animated animate__fadeIn" [src]="'assets/images/notfound-image.png'">
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-sm-10 m-auto text-center">
        <button class="btn bg-primary text-light btn-lg" (click)="iraStatus()">Ir a Status</button>
      </div>
    </div>
  </div>
  </div>
</div>

